:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --light-mint: #effcf5;
  --mint-color: #e2faed;
  --orange: #ffba43;
  --green: #3cb77e;
  --dark: #635f5f;
  --violet: #b621fe;
}

.btn__level {
  width: 40px;
  height: 40px;
}
