:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --light-mint: #effcf5;
  --mint-color: #e2faed;
  --orange: #ffba43;
  --green: #3cb77e;
  --dark: #635f5f;
  --violet: #b621fe;
}

#id-0,
#id-1,
#id-2,
#id-3 {
  margin: 0 auto;
}

@media (max-width: 1024px) {
  #id-0,
  #id-1,
  #id-2,
  #id-3 {
    width: 200px;
  }
}
