:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --light-mint: #effcf5;
  --mint-color: #e2faed;
  --orange: #ffba43;
  --green: #3cb77e;
  --dark: #635f5f;
  --violet: #b621fe;
}
.game__section {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.game__wrapper {
  display: flex;
  align-items: center;
}

.vertical {
  flex-direction: column;
  align-items: center;
}

.horizontal {
  flex-direction: row;
}

.game__finish-image {
  height: 40vh;
  width: 40vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/public/assets/images/png/sprint_girl.png");
}

.btn-repeate {
  align-self: flex-start;
  margin: 10px;
}

.game__left-image {
  height: 70vh;
  width: 35vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/public/assets/images/png/girl-thinking.png");
}

.game__container {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 20vh;
  margin: 20px 0;
  padding: 20px;
  background-color: var(--basic-white);
  border: 2px solid var(--violet);
  border-radius: 20px;
}
