.question__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question__image {
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0.1rem var(--color-contrast) solid;
  border-radius: 1rem;
}

.animation {
  animation: sound-resize 1.5s ease-in-out;
}

.question__unanswered {
  background-image: url("/public/assets/icons/sound.svg");
}

.question__answered {
  background-size: cover;
  background-position: center center;
}

.questionText {
  margin: 2rem 0;
  font-size: 3rem;
  color: var(--color-black);
  text-transform: capitalize;
}

.answers__section {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 5rem 2rem;
}
