.modal {
  position: fixed;
  z-index: 100;
  display: flex;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;

  width: 600px;
  max-width: 100%;
  height: 460px;
  max-height: 100%;
  box-sizing: border-box;
}

.modal.closed {

  display: none;

}

.modal__guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 20px 20px 20px 20px;
  box-sizing: border-box;

  overflow: auto;
}

.overlay {
  z-index: 99;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: rgba(180, 128, 16, 0.4);
  }
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;

  width: 40px;
  height: 40px;
  box-sizing: border-box;
  background-color: black;

  &::after,
  &::before {
    z-index: 102;
    content: "";
    position: absolute;
    top: 15px;
    right: 0;
  }

  &::before {
    transform: rotate(45deg);
    transition: transform 0.3s ease-in;
    background-color: #ffffff;
    width: 35px;
    height: 3px;
  }

  &::after {
    transform: rotate(-45deg);
    box-shadow: none;
    transition: transform 0.3s ease-in, box-shadow 0.2s ease-in;
    background-color: #ffffff;
    width: 35px;
    height: 3px;
  }

  &:hover::after,
  &:hover::before {
    background-color: yellow;
  }
}