.textbook-nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
  }
}

.textbook-nav__title {
  margin-left: 0;
  margin-bottom: 15px;
  font-family: $title-font;
  font-size: 26px;
  text-align: left;

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;

    font-size: 29px;
    line-height: 32px;
  }
}

.textbook-nav__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 13px;
  grid-row-gap: 10px;

  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: 560px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(6, 1fr) 2fr;
  }
}

.textbook-nav__item {
  &:last-child {
    grid-column-start: 1;
    grid-column-end: 3;

    @media (min-width: 768px) {
      grid-column-start: 3;
      grid-column-end: 5;
    }

    @media (min-width: $desktop-width) {
      grid-column-start: 7;
      grid-column-end: 9;
    }
  }
}

.textbook-nav__label {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 12px;
  padding-left: 12px;

  background-color: transparent;
  color: $dark;
  border: 1px solid #3F5EFB;
  width: 100%;

  font-size: 21px;
  font-weight: 500;

  box-sizing: border-box;
  border-radius: 8px;

  transition: 0.3s all;

  cursor: pointer;
  overflow: hidden;

  &::after {
    position: absolute;
    top: 10px;
    right: -20px;
    content: "";
    text-align: center;
    vertical-align: bottom;
    width: 100px;
    height: 95px;
    border-radius: 50%;
    color: white;
    transition: 0.5s all;
  }

  .textbook-nav__control:checked+&::after {
    top: 5px;
    font-size: 29px;  
    width: 130px;
    height: 95px;
  }

  .textbook-nav__item:nth-child(1) &::after {
    background-color: #ACE1AF;
    content: "A1";
  }

  .textbook-nav__item:nth-child(2) &::after {
    background-color: #DADD98;
    content: "A2";
  }

  .textbook-nav__item:nth-child(3) &::after {
    background-color: #8FBC8B;
    content: "B1";
  }

  .textbook-nav__item:nth-child(4) &::after {
    background-color: #8cc751;
    content: "B2";
  }

  .textbook-nav__item:nth-child(5) &::after {
    background-color: #17B169;
    content: "C1";
  }
  
  .textbook-nav__item:nth-child(6) &::after {
    background-color: #66CDAA;
    content: "C2";
  }

  .textbook-nav__item:nth-child(7) .textbook-nav__control:checked+&::after {
    top: 5px;
    font-size: 29px;
    width: 180px;
    height: 95px;
  }
  
  .textbook-nav__item:nth-child(7) &::after {
    background-color: #008B8B;
    content: "Словарь";
    width: 140px;
  }
}

.textbook-nav__label--complex {
  display: none;

  .is-auth & {
    display: block;
  }
}

.textbook-nav__control:checked+.textbook-nav__label {
  color: $green;
  box-shadow: 
      0 0 0 2px $basic-white,
      0 0 0 4px $green;
}